{% extends 'bandas/layout.html' %}

{% block title %}Álbuns{% endblock %}

{% block content %}
    <h1 style="text-align: center; margin-bottom: 20px;">Álbuns ({{albuns|length}})</h1>
    <div style="display: flex; flex-wrap: wrap; justify-content: space-around;">
        {% for album in albuns %}
            <div style="margin: 10px; padding: 10px; border: 1px solid #ddd; border-radius: 5px; width: 200px; text-align: center;">
                <a href="{% url 'bandas:album_page' album_id=album.id %}" style="text-decoration: none; color: #ff4c4c;">{{ album.titulo }}</a>
            </div>
        {% endfor %}
    </div>
    {% if request.user.is_authenticated and is_editor %}
    <div style="text-align: center; margin-top: 20px;">
        <a href="{% url 'bandas:novo_album' %}">
            <button style="padding: 10px 20px; background-color: #ff4c4c; color: white; border: none; border-radius: 20px; cursor: pointer;">Inserir novo Álbum</button>
        </a>
    </div>
    {% endif %}
{% endblock %}
