{% extends 'bandas/layout.html' %}

{% block title %}Criar Banda{% endblock %}

{% block content %}
    <h3>Nova Banda</h3>

    <form action="" method="post" enctype='multipart/form-data'>
    <!-- enctype deve ser definido se houver submissão de ficheiros ou imagens -->

      {% csrf_token %}   <!-- obrigatório nos forms Django -->
      <table>
          {{ form }}   <!-- insere input para cada atributo da classe Autor, numa tabela -->
      </table>
      <div class="form-buttons">
            <button type="button" onclick="window.location.href='{% url 'bandas:lista_bandas' %}'">Cancelar</button>
            <input type="submit" value="Criar Banda">
      </div>
    </form>

{% endblock %}