{% extends 'artigos/layout.html' %}

{% block title %}Artigos{% endblock %}

{% block content %}
<body>
    <h1 style="text-align: center; margin-bottom: 20px;">Artigos ({{artigos|length}})</h1>
    <ul class="lista-item">
        {% for artigo in artigos %}
            <li><a href="{% url 'artigos:detalhes_artigo' artigo.id %}">{{ artigo.titulo }}</a></li>
        {% endfor %}
    </ul>
    {% if request.user.is_authenticated and is_editor %}
    <div class="button-container">
        <a href="{% url 'artigos:novo_artigo' %}">
        <button>Criar novo Artigo</button>
        </a>
    </div>
    {% endif %}
</body>
{% endblock %}
