{% extends 'artigos/layout.html' %}

{% block title %}Criar Artigo{% endblock %}

{% block content %}
<body>
    <h3>Novo Artigo</h3>

    <form action="" method="post" enctype='multipart/form-data'>
    <!-- enctype deve ser definido se houver submissão de ficheiros ou imagens -->

      {% csrf_token %}   <!-- obrigatório nos forms Django -->
      <table>
          {{ form }}   <!-- insere input para cada atributo da classe Autor, numa tabela -->
      </table>
      <div class="form-buttons">
            <button onclick="window.location.href='{% url 'artigos:lista_artigos' %}'">Cancelar</button>
            <input type="submit" value="Criar Artigo">
      </div>
    </form>
</body>
{% endblock %}