        body {
            font-family: 'Playfair Display', serif; /* Alterando a fonte para Playfair Display */
            font-optical-sizing: auto;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        header {
            background-color: #4CAF50;
            color: #fff;
            padding: 10px 0;
            text-align: center;
            position: relative;
        }
        .auth-buttons {
            position: absolute;
            top: 10px;
            right: 10px;
            display: flex;
            gap: 10px;
        }
        .auth-buttons a {
            color: #fff;
            text-decoration: none;
            padding: 5px 10px;
            border-radius: 5px;
            background-color: #4CAF50;
            transition: background-color 0.3s ease;
        }
        .auth-buttons a:hover {
            background-color: #45a049;
        }
        .username {
            position: absolute;
            top: 10px;
            left: 10px;
            margin: 0;
            text-decoration: underline;
        }
        .auth-buttons {
            position: absolute;
            top: 10px;
            right: 10px;
            display: flex;
            gap: 10px;
        }
        header nav ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            gap: 15px;
        }
        header nav ul li {
            display: inline;
        }
        header nav ul li a {
            color: #fff;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 5px;
            background-color: #4CAF50; /* Cor verde alterada aqui */
            transition: background-color 0.3s ease;
        }
        header nav ul li a:hover {
            background-color: #45a049; /* Cor verde alterada aqui */
        }
        .welcome-button {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .welcome-button a {
            color: #fff;
            text-decoration: none;
            padding: 5px 10px;
            border-radius: 5px;
            background-color: #4CAF50; /* Cor verde */
            transition: background-color 0.3s ease;
        }
        .welcome-button a:hover {
            background-color: #45a049; /* Verde mais escuro */
        }
        .welcome-button {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .welcome-button a {
            color: #fff;
            text-decoration: none;
            padding: 5px 10px;
            border-radius: 3px;
            background-color: #4CAF50; /* Cor vermelha */
            transition: background-color 0.3s ease;
        }
        .welcome-button a:hover {
            background-color: #45a049; /* Vermelho mais escuro */
        }
        .content {
            flex: 1;
            padding: 20px;
        }
        .button-container {
            display: flex;
            justify-content: center;
            gap: 10px;
            margin-top: 20px;
        }

        .button-container button {
            padding: 10px 20px;
            font-size: 16px;
            background-color: #4CAF50;
            color: #fff;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .button-container button:hover {
            background-color: #45a049;
        }

        .lista-item {
            list-style-type: none;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .lista-item li {
            margin: 5px 10px;
            padding: 5px 10px;
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            border-radius: 5px;
            white-space: nowrap;
        }

        .lista-item li a {
            text-decoration: none;
            color: #4CAF50; /* Alterando a cor do texto para verde */
        }

        .lista-item li a:hover {
            text-decoration: underline;
        }
        .form-buttons button,
        .form-buttons input[type="submit"] {
        padding: 5px 10px;
        border: none;
        border-radius: 20px;
        background-color: #4CAF50;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s ease;
        }

        .form-buttons button:hover,
        .form-buttons input[type="submit"]:hover {
          background-color: #45a049;
        }
        .artigo-imagem {
           max-width: 500px;
           height: auto;
           display: block;
           margin: 0 auto;
        }

        footer {
            background-color: #f8f9fa;
            color: #333;
            padding: 10px 0;
            text-align: center;
            margin-top: auto;
        }